body{
    background: url('background.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif; 

}
.details-image {
            max-width: 120px;
            max-height: 120px;
            margin-bottom: 20px;
            border-radius: 8px;
            border: 1px solid #ccc;
            display: block;
            color: white;
}
.details-label {
            font-weight: bold;
            margin-top: 10px;
            color: white;
}
.details-value {
            margin-bottom: 10px;
            color: white;
}
.details-summary-edit {
            width: 100%;
            margin-bottom: 10px;
            color: white;
}
.back-btn {
            margin-top: 20px;
            color: white;
}

h3{
    color: white;
}